@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

:root{
    --fuentetitulos :  'Poppins', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor-total{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
}

button{
    width: 65px;
    height: 25px;
    border-radius: 15px;
    background-color: gray;
    border: none;
    margin-top: 30px;
    outline: none;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    
}

button img{
    width: 20px;
    position: relative;
}



.container-img{
    position: relative;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    bottom: 1.8px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Estilos About me*/
.about-me{
    width: 80%;
    max-width: 650px;
    text-align: center;
    margin-top: 50px;
    font-size: 18px;
    font-family: var(--fuentetitulos);
}

.namedeveloper{
    font-size: 30px;
}

.about-me img{
    border-radius: 50%;
    margin-top: 20px;
}

@media screen and (max-width: 400px ){
    .about-me img{
        width: 260px;
        height: 260px;
    }

    .namedeveloper{
        font-size: 25px;
    }

    .about-me{
        margin-top: 15px;
        font-size: 15px;
    }
}

@media screen and (min-width: 401px){
    .about-me img{
        width: 320px;
        height: 320px;
    }
}


/*Clases javascript */

.dark{
    background-color: black;
    color: white;
}

.rotate{
    display: flex;
    animation-name: rotation;
    animation-duration: 1.5s;
    padding-left: 37px;
}

@keyframes rotation {
    0%{
       padding-left: 0px;
    }

    100%{ 
       padding-left: 37px;
    }
}

.rotateright {
    animation-name: rotation2;
    animation-duration: 1.5s;
}

@keyframes rotation2{
    0%{
       padding-left: 37px;
    }
    100%{
       padding-left: -2px;
    }
}

.finalrotate{
    padding-left: 37px;
}

.finalrotate2{
    padding-left: 10px;
}